/* Inizializzazione pagina */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
}

/* Container del sito */
.container{
  width: 1200px;
  margin: auto;
}

/* Blocco header */
.block-header{
  background-color: yellow;
  height: 100px;
}

/* Contenuto del sito */
.content{
  width: 100%;
  background-color: orange;

}
/* Sidebar a sinistra */
.sidebar-left{
  width: 25%;
  height: 300px;
  background-color: rgba(255,0,255,1);
}

/* Contenuto al centro dello schermo */
.content-center{
  width: 50%;
  height: 500px;
  background-color: rgb(255,0,255);
}

.sidebar-right{
  width: 25%;
  height: 200px;
  background-color: rgba(255,0,255,0.5);
}

.block1-dx{
  width: 100%;
  height: 200px;
  background-color: rgba(255,0,255,1);
}

.block2-dx{
  width: 100%;
  height: 200px;
  background-color: rgba(255,0,255,1);

}


/* Blocco footer */
.block-footer{
  background-color: lightblue;
  height: 100px;
}
/* ======= UTILITIES =========*/

/* Float sinistra e destra */
.float-l{
  float: left;
}
.float-r{
  float: right;
}
/* /Float sinistra e destra */

/* Clearfix generico */
.clearfix::after{
  content: "";
  display: table;
  clear:both;
}
/* /Clearfix generico */



/* ======= /UTILITIES =========*/
